@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --clr-yellow: #23A6F0;
    --clr-gray: #252B42;


    --ff-primary: 'Montserrat', sans-serif;
}
div#back{
    background-image: url(https://user-images.githubusercontent.com/97962291/151573330-d7158b91-f2ac-418d-be23-4395d92b940d.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30%;
}