@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --clr-blue: #23A6F0;
    --clr-grey: #252B42;


    --ff-primary: 'Montserrat', sans-serif;
}
.back{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(https://user-images.githubusercontent.com/97962291/151573330-d7158b91-f2ac-418d-be23-4395d92b940d.png);
    height: 1000px;
    width: 100%;
    padding: 15px;
    background-position: center top ;
    background-color: var(--clr-grey);
    background-size: contain;
    background-repeat: no-repeat;
}
.logo{
    color: white;

    
}
nav>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 90px;
    z-index: 2;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
    margin-left: 200px;
    margin: 1%;
}
a{
    display: flex;
    font-weight: bold;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;

}
button{
    background-color:#23A6F0;
    color: white;
}
div.first{
   height: 400px;
   z-index: 2;
   
}.back{
    display:block ;
}
.main{
    text-align: center;
    margin-top: -690px;

}
h2{
    color:white;
    font-weight: bold;
    font-size: 40px;


}
p{
    color: white;
}
    
div.people{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    margin-left: 240px;
    margin-top:200px ;
    margin-bottom: 30px;
}
.peace,.set,.satisfaction{
     border:hidden;
     width: 200px;
     padding: 25px 25px 25px 25px;
     transform: 1.3;

}
.satisfaction{
    background:#23A6F0 ;
}
.peace,.set{
    background: white;
}
.peace>p{
    color: var(--clr-grey);
}
.set>p{
    color: var(--clr-grey);
}
.satisfaction>p{
    color: var(--clr-grey);
}
div.book{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    margin-left: 250px;
    margin-top:80px ;
    margin-bottom: 30px;
}
.mind,.life,.per{
    border:hidden;
     width: 270px;
     padding: 30px 25px 25px 25px;
     transform: 1.3;
     background: white;

}
.mind>p{
    color: var(--clr-grey);
}
.life>p{
    color: var(--clr-grey);
}
.per>p{
    color: var(--clr-grey);
    
}
.per{
    margin-top: 40px;
}
.industry>.problem{
   text-align: center;
   padding: 50px;
}
.problem>h3{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.problem>p{
    color:var(--clr-grey );
}
.industry{
    background:#F1F1F1 ;
    
    
}
.woman{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    margin-left: 200px;
    margin-top:200px ;
    margin-bottom: 30px;
    justify-content:space-evenly;
}
.user-1,.user-2,.user-3{
    border:2px solid #EDEDED;
    width: 240px;
    padding: 25px 25px 25px 25px;
    transform: 1.3;
    background: #FFFFFF;
}
.woman,p{
    color: #878787;
}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 250px;
    padding: 50px;
}
.subscribe{
    margin-left: 400px;
    border: 1px solid black;
    background:linear-gradient( 90deg,#254688 20% ,#D22388 80%);
    padding: 10px;
    width: 65%;
}
.subscribe>h5{
    font-weight: bold;
    font-size: 19px;
    color: white;
}
.subscribe>button{
    float:right;
    margin-top: -40px;
    width:350px;
    height: 40px;
}
.pricing{
    text-align: center;
   padding: 80px;
}
.pricing>h3{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.pricing>p{
    color:var(--clr-grey );
}
.container{ 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    margin-left: 240px;
    margin-top:200px ;
    margin-bottom: 30px;
}
.free,.standard,.premium{
    border:hidden;
     width: 270px;
     padding: 30px 25px 25px 25px;
     transform: 1.3;
     background: white;
}